<div class="dijitDialog" tabindex="-1" waiRole="dialog" waiState="labelledby-${id}_title">
	<div dojoAttachPoint="titleBar" class="dijitDialogTitleBar">
	<span dojoAttachPoint="titleNode" class="dijitDialogTitle" id="${id}_title"></span>
	<span dojoAttachPoint="closeButtonNode" class="dijitDialogCloseIcon" dojoAttachEvent="onclick: onCancel, onmouseenter: _onCloseEnter, onmouseleave: _onCloseLeave" title="${buttonCancel}">
		<span dojoAttachPoint="closeText" class="closeText" title="${buttonCancel}">x</span>
	</span>
	</div>
	<div class="dijitDialogPaneContent">
		<div dojoAttachPoint="containerNode"></div>
		<div style="padding-top: 20px; text-align: center;">
			<input type="button" value="${buttonOk}" dojoAttachEvent="onclick: _onSubmit" class="form_button" style="padding: 1px 20px;"/>
			<input type="button" value="${buttonCancel}" dojoAttachEvent="onclick: onCancel" class="form_button" style="padding: 1px 20px;"/>
		</div>
	</div>
</div>
