<span jwcid="$content$">
    <!-- form title -->
    <h1 jwcid="@If" condition="ognl:title != null" class="ognl:subform ? 'subform_title' : 'form_title'"><span jwcid="@Insert" value="ognl:title"/></h1>
	<!-- form description -->
	<p class="form_description" jwcid="@If" condition="ognl:description != null and settings.showDescription"><span jwcid="@Insert" value="ognl:description"/></p>
    <span jwcid="@If" condition="ognl:useForm" renderTag="ognl:false">
        <span jwcid="@If" condition="ognl:mbean" renderTag="ognl:false">
            <form jwcid="mbeanForm">
                <span jwcid="@RenderBlock" block="component:formBody"/>
            </form>
        </span>
        <span jwcid="@Else" renderTag="ognl:false">
            <form jwcid="form">
                <span jwcid="@RenderBlock" block="component:formBody"/>
            </form>
        </span>
    </span>
    <span jwcid="formBody@Block">
        <!-- message for fail -->
        <div class="form_error" jwcid="@If" condition="ognl:submitted and !result and ( failMessage != null or detailMessage != null )">
			<h2 jwcid="@Insert" value="ognl:failMessage" renderTag="ognl:true">failMessage</h2>
			<input jwcid="error_button@Any" class="form_button" type="button" style="width:100px;" value="message:Form.fail.showDetail.label" onclick="javascript:jeus.toggleButton(this);"/>
	        <textarea jwcid="@TextArea" id="ognl:components.error_button.clientId + '_detail'" value="ognl:detailMessage" style="display: none;" readonly="readonly"></textarea>
		</div>
        <span jwcid="@RenderBody"/>
        <!-- action buttons -->
		<div class="form_button_layer" jwcid="@If" condition="ognl:useDefaultButtons">
			<span jwcid="@CheckLock" ignoreLock="ognl:ignoreLock">
				<input jwcid="ok" class="form_button"/>
	            <input jwcid="cancel" class="form_button"/>
	            <span jwcid="@If" condition="ognl:refresh neq null and useRefreshButton" renderTag="ognl:false"><input jwcid="refresh" class="form_button" style="margin-left: 5px;"/></span>
            </span>			
		</div>	        
    </span>
</span>