<span jwcid="$content$">
    <span jwcid="@If" condition="ognl:available" renderTag="ognl:false">
        <form jwcid="controlForm">
            <input jwcid="hidden_model"/>
			<span jwcid="targetsField"/>
			<span jwcid="@If" condition="ognl:useWTBBlock">
				<br/>
				<br/>
				<span jwcid="@Blind" title="message:common.label.advanced">
					<span jwcid="@Field" label="message:ModuleController.wtblistener.block.title" description="message:ModuleController.wtblistener.block.description">
                		<input jwcid="@Checkbox" value="ognl:enableWTBBlock"/>          	
                	</span>
					<span jwcid="@Field" label="message:ModuleController.wtblistener.block.type.title" description="message:ModuleController.wtblistener.block.type.description">
                		<input jwcid="wtbBlockTypeField"/>          	
                	</span>
					<span jwcid="@Field" field="component:waitField" label="message:ModuleController.wtblistener.block.wait.title" description="message:ModuleController.wtblistener.block.wait.description" unit="message:common.unit.sec">
                		<input jwcid="waitField@TextField" value="ognl:WTBBlockWait" displayName="message:ModuleController.wtblistener.block.wait.title" translator="translator:number2" validators="validators:min=0"/>          	
                	</span>
				</span>
			</span>
			<div class="form_button_layer">
            	<input jwcid="actionButton" class="form_button" style="width:100px"/>
            </div>
        </form>
    </span>
    <span jwcid="@Else" renderTag="ognl:false">
        <form jwcid="controlForm2">
            <span jwcid="unavailable_message" class="field_label"/>
        </form>
    </span>
</span>