<span jwcid="$content$">
	<table jwcid="condHasTargets" id="ognl:clientId" class="targetExplorer" dojoType="jeus.TargetExplorer">
		<thead>
		<tr>
			<td><span jwcid="@Insert" value="ognl:label" class="field_label"/></td>
			<span jwcid="@If" condition="ognl:useOption" renderTag="ognl:false">
				<td><span jwcid="option_label" class="field_label"/></td>
				<td><span jwcid="option_label2" class="field_label"/></td>
			</span>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td jwcid="@Any" colspan="ognl:useOption ? 3 : 1" class="targetExplorerRoot">
				<input jwcid="allCheck"/><span jwcid="@Insert" class="field_label" value="message:TargetExplorer.all_check.label"/>
			</td>
		</tr>
		</tbody>
		<tbody jwcid="eachNode" class="ognl:hasNext ? seperator : ''">
			<tr>
				<td jwcid="@Any" colspan="ognl:useOption ? 3 : 1" class="target_explorer_nodename">
					<input jwcid="nodeCheck"/><span jwcid="nodeName" renderTag="ognl:true"/>
				</td>
			</tr>
			<span jwcid="eachContainer">
				<tr>
					<td class="target_explorer_second">
						<input jwcid="containerCheck"/><span class="ognl:iconClass" jwcid="containerName"/>
					</td>
					<span jwcid="condOption">
						<td>
							<input jwcid="containerOption"/>
						</td>
						<td>
							<span jwcid="eachContextGroup">
								<select jwcid="virtualHostSelect" size="3">
			                        <span jwcid="eachVirtualHost">
			                            <option jwcid="virtualHostOption"/>
			                        </span>
			                    </select>
		                    </span>
	                    </td>
					</span>
				</tr>
			</span>
		</tbody>
	</table>
	<div jwcid="@Else" class="targetExplorer">
		<div jwcid="@Insert" value="ognl:noTargetMessage" class="field_label"></div>
	</div>
</span>