<div class="topTabPanel">
	<ul class="top_nav">
		<li jwcid="@For" source="ognl:pageNames" value="ognl:pageName">
			<span jwcid="@If" condition="ognl:pageName.equals(page.pageName)" renderTag="ognl:false">
				<a class="selected"><span jwcid="@Insert" value="ognl:messages.getMessage(pageName)"/></a>
			</span>
			<span jwcid="@Else" renderTag="ognl:false">
				<a jwcid="@ExternalLink" page="ognl:pageName" parameters="ognl:page.objectName"><span jwcid="@Insert" value="ognl:messages.getMessage(pageName)"/></a>
			</span>
		</li>
	</ul>
	<div class="top_content">
		<span jwcid="@RenderBody"/>
	</div>
</div>
