<div dojoType="dojo.data.ItemFileReadStore" jsId="ognl:clientId + 'Store'" jwcid="@Any"
	url="ognl:URL"></div>
<div dojoType="dijit.tree.TreeStoreModel" jsId="ognl:clientId + 'Model'" jwcid="@Any"
	store="ognl:clientId + 'Store'" childrenAttrs="children"></div>

<div dojoType="dijit.Tree" id="ognl:clientId +'Tree'" jwcid="@Any"
	model="ognl:clientId + 'Model'">
	<script type="dojo/method" event="onClick" args="item, node">
		var store = this.model.store;
		var target = store.getValue(item, "target");
		var action = store.getValue(item, "action");
		if(!!action){
			if(!!target){
				jeus.loadContent(target, action);
			}else
				window.location.href = action;
		}
		
	</script>
</div>

