<span jwcid="$content$">

<table jwcid="table">
	<span jwcid="@RenderBody"/>
</table>
<table jwcid="condColumnEditable" border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr>
        <td align="right">
            <div dojoType="dijit.form.DropDownButton" baseClass="customizeTable">
				<span jwcid="customize"></span>
				<div dojoType="dijit.TooltipDialog">
					<div style="width: 490px;overflow: hidden;">
			            <span jwcid="pageSize" style="margin-left: 100px;">
			                <input jwcid="pageSizeField"/>
			            </span>
			            <span jwcid="columnsSection"></span>
						<input jwcid="columns"/>
			            <div class="form_button_layer">
			            	<button baseClass="customizeTableButton" dojoType=dijit.form.Button type="submit"><span jwcid="@Insert" value="message:JEUSForm.ok.label"></span></button>
			            </div>
		            </div>
		            <script type="dojo/method" event="execute" args="formContents">
						var pageSize = dojo.byId("<span jwcid="@Insert" value="ognl:components.pageSizeField.clientId"/>");
						var columns = dijit.byId("<span jwcid="@Insert" value="ognl:components.columns.clientId"/>");
						jeus.loading.show();
						dojo.xhrGet({
							url: "<span jwcid="@Insert" value="ognl:URL" raw="ognl:true"/>",
							content: {
								pageSize: pageSize.value,
								selectedColumns: columns.getValue()
							},
							load: function(response, ioArgs){
								dijit.byId("rightPane").setContent(response);
							},
							handle: function(response, ioArgs){
								jeus.loading.hide();
							}
						});
					</script>
				</div>
			</div>
        </td>
    </tr>
</table>
</span>
