<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:ns2="http://java.sun.com/xml/ns/persistence">
    <servlet>
        <servlet-name>addnumber</servlet-name>
        <servlet-class>fromjava.server.AddNumbersImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addnumber</servlet-name>
        <url-pattern>/AddNumbersImplService</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>addnumber</web-resource-name>
            <url-pattern>/AddNumbersImplService</url-pattern>
            <http-method>POST</http-method>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Administrator</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>   
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>default</realm-name>
    </login-config>    
</web-app>
